body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
  color: #222;
  font-weight: 500;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}

.Event {
  background-color: #dbeafe;
  color: black;
  border-radius: 8px;
}

.Event h5 {
  margin: 0;
}